/* External styling */
html {
    box-sizing: border-box;
  }

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-image: linear-gradient(to bottom right, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 100%);
}

.navbar {
    display: flex;
    align-items: center;
}

.links {
    position: fixed;
    top: 0px;
    padding: 8px;
    margin: 8px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightblue;
}