/* External styling */
html {
    box-sizing: border-box;
  }

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-image: linear-gradient(rgba(2,0,36,1) 0%, rgba(41,53,70,1) 100%);
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.links {
    position: fixed;
    top: 0px;
    padding: 8px;
    margin: 8px;
    gap: 32px;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(173, 216, 230, 0.95);
}

.links a {
    text-decoration: none;
    color: white;
}

.section {
    display: flex;
    min-height: 100%;
}

#Home {
    gap: 32px;
    height: 100%;
}

.hero {
    display: flex;
    flex-flow: column wrap;
    gap: 16px;
}

.hero .heading {
    color: white;
    font-size: 48px;
}

.hero .text {
    color: lightgray;
    font-size: large;
    font-style: italic;
}

.hero .author {
    color: lightgray;
    align-self: flex-end;
    font-weight: bold;
    font-size: larger;
}

.logo {
    flex: 0 0 auto;
    width: 300px;
    height: 200px;
    border-radius: 8px;
}