/* External styling */
html {
    box-sizing: border-box;
  }

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-image: linear-gradient(rgba(2,0,36,1) 0%, rgba(41,53,70,1) 100%);
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.links {
    position: fixed;
    top: 0px;
    padding: 8px;
    margin: 8px;
    gap: 32px;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: orange;
    opacity: 80%;
    transition: all 500ms;
}

.links:hover {
    opacity: 100%;
    transform: scale(1.1);
}

.links a {
    text-decoration: none;
    color: white;
}

.section {
    display: flex;
    min-height: 100dvh;
    align-items: center;
    justify-content: space-around;
}

#Home {
    gap: 32px;
}

.hero {
    display: flex;
    flex-flow: column wrap;
    gap: 16px;
}

.heading {
    color: white;
    font-size: 48px;
}

.text {
    color: white;
    font-size: large;
}

.hero .text {
    color: lightgray;
    font-style: italic;
}

.hero .author {
    color: lightgray;
    align-self: flex-end;
    font-weight: bold;
    font-size: larger;
}

.logo {
    flex: 0 0 auto;
    width: 300px;
    height: 200px;
    border-radius: 8px;
}

#About {
    flex-direction: column;
    justify-content: center;
    gap: 32px;
}

.block {
    border: 8px solid orange;
    border-radius: 32px 16px;
    padding: 16px;
    transition: all 500ms;
}

.block:hover {
    transform: scale(1.1);
    background-color: black;
}

#Contact {
    flex-direction: column;
    justify-content: center;
    gap: 32px;
}

.entry {
    display: flex;
    flex-direction: column;
    min-height: 50dvh;
    min-width: 75dvh;
    justify-content: space-between;
    background-color: black;
    border: 8px solid orange;
    border-radius: 16px;
    padding: 32px;
    align-items: center;
}

.entry input {
    border-radius: 16px;
    min-width: 75%;
}
.entry .message {
    height: 20dvh;
}

.entry .message::placeholder {
    text-align: left;
    vertical-align: text-top;
}

.entry button {
    width: 128px;
    background-color: orange;
    color: black;
}

.profiles button {
    background-color: orange;
    padding: 8px;
}